/* 
* @Author: Marte
* @Date:   2017-10-27 17:46:00
* @Last Modified by:   Marte
* @Last Modified time: 2017-10-27 19:02:02
*/
body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption 
{
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #333;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    /*background-color: #F5F5F5;*/
}
.clfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
    zoom: 1; 
}